/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
.navbar a {
  color: #CECECE;
}

code {
  color: #e01a76;
}
h3, h4, h5, h6{
margin-top:10px;
text-align:center;
}
.p-0 {
  padding:0px;
}
.mb-0 {
margin-bottom: 0px !important;
}
.clear {
  clear:both;
}
.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #303844;
}

body {
  color: #a3b1c7;
  font-family: 'Roboto', sans-serif;
  background: #303844;
}

.bluredImg {
  top: 0px;
  background: url(/assets/icestorm-b.jpg) center;
  background-size:cover;
  filter: blur(8px);
  -webkit-filter: blur(8px);
  position:fixed;
  top:0px;
  left:0px;
  right:0px;
  width:100%;
  height:100%;
  z-index:-1;
  opacity: 0.3;
}
.navbar {
padding:0;
}
.page-header {
  background: #434e5f;
  text-align: center;
  padding: 10px;
  border-radius: 0 0 20px 20px;
  box-shadow: 0 10px 10px #1c2129;
  margin: 0 0 20px 0;
  font-size: 20px;
}
.nav-menu {
  background: #000;
  color: #CECECE;
}
  .nav-menu li:last-child {
/*      background: #fff;
      border-radius:10px;
      padding:5px;
      margin:-5px 0 0 30px;*/
  }
 .nav-menu li:last-child a {
        /*color:#000;*/
  }
.playerWrapper, .opponentWrapper, .systemWrapper, .boxContainer{
  background: #434e5f;
  border-top: 1px solid #637288;
  box-shadow: 0px 10px 10px #29313e;
  border-radius: 0px 20px;
}
.header {
  font-size:20px;
}
.error {
  color: white;
  background-color: #7B3743;
  padding: 10px;
}
login input {
width:100%;
padding:10px;
}

select:hover, input:hover {
border-top: 1px solid #fff;
cursor:pointer;
}
select, input,.calculatePointsWrapper .btn, input:focus {
  height: 40px;
  background: #556173;
  color: #CECECE;
  border: none;
  border-top: 1px solid #6a7a92;
  border-radius: 0px 20px;
  outline-style:none;
}
.armySection select {
  text-indent:0px;
}
select {
  text-indent: 20px;
}
select:hover {
    cursor:pointer;
}
input[type=number] {
  -webkit-appearance:textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.calculatePointsWrapper .btn {
  height: 40px;
  width:40px;
  cursor:pointer;
}
.calculatePointsWrapper {
  margin: 0 auto;
}
select.systemFont {
  font-size:30px;
  text-align:center;
}
.activeBtn, .activeBtn:focus {
  width: 100%;
  margin: 10px 0;
  border: none;
  background: #43884c;
  color: #fff;
  padding: 15px;
  text-transform: uppercase;
  border-top: 1px solid #6ac576;
  border-radius:0px 20px;
  outline-style:none;
}
.inactiveBtn, .inactiveBtn:focus {
  width: 100%;
  margin: 10px 0;
  border: none;
  background: #43884c;
  color: #fff;
  padding: 15px;
  text-transform: uppercase;
  border-top: 1px solid #6ac576;
  border-radius: 0px 20px;
  outline-style: none;
  opacity:0.3;
}
input.labelCount {
  line-height: 40px;
  font-size: 30px;
  width: 100%;
  margin: 0px !important;
  /*background: none !important;*/
}
 input.labelCount.invalid {
    border: 2px solid red !important;
    background: #541A1A !important;

  }
select.invalid {
  border: 1px solid #FFBB00;
}
.playerWrapper p, .opponentWrapper p {
margin: 10px 0 0 0px;
}


.smallerArmyIco {
  width: 50%;
  height: 50%;
  bottom: 0px;
  right: -20px;
  background-repeat: no-repeat;
}
.biggerArmyIco {
  width: 100px;
  height: 100px;
  min-width: 100px;
  min-height: 100px;
  background-size: cover;
  border-radius:100%;
  margin:0 auto;
}
.infinity-component .smallerArmyIco {
  width: 60px;
  height: 60px;
  bottom: 0px;
  right: -20px;
  background-repeat: no-repeat;
}
.warmachine-component .smallerArmyIco {
  height: 100px;
  width: 100px;
  right: -75%;
  bottom: 0px;
  box-shadow: -10px 0 0px #434e5f;
}

.warmachine-component .armyImageWrapper.col-md-12 .biggerArmyIco {
  position:relative;
  left:-35px;
}

.checkbox {
  width: 30px;
  height: 30px;
  border: 2px solid #556173;
  border-radius: 0px 10px;
  position:relative;
  top:5px;
}
.clickable {
cursor: pointer;
}
.clickable:hover .checkbox {
    border: 2px solid #fff;
}
  .clickable:hover .checkbox.checked {
    border: none;
    border-top: 1px solid #6ac576;
  }

.checkbox.checked {
  border: none;
  background: #43884c;
  color: #fff;
  padding: 15px;
  text-transform: uppercase;
  border-top: 1px solid #6ac576;
}

 
