<header class="nav-menu">
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm mb-3"
  >
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']"><img class="rebelkeeper-logo" src="/assets/rebelkeeper1.jpg" style="width:200px"/></a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
        [ngClass]="{ show: isExpanded }"
      >
          <ul class="navbar-nav flex-grow">
              <li class="nav-item"
                  [routerLinkActive]="['link-active']"
                  [routerLinkActiveOptions]="{ exact: true }">
                  <a class="nav-link" [routerLink]="['/']">Start</a>
              </li>
              <li class="nav-item" [routerLinkActive]="['link-active']">
                  <a class="nav-link" [routerLink]="['/ranking']">Ranking</a>
              </li>
              <li class="nav-item" [routerLinkActive]="['link-active']">
                  <a class="nav-link" [routerLink]="['/my-battles']">Moje Bitwy</a>
              </li>
              <li class="nav-item" [routerLinkActive]="['link-active']">
                  <a class="nav-link" [routerLink]="['/tournament']">Turnieje Rebelii</a>
              </li>
              <li class="nav-item" [routerLinkActive]="['link-active']">
                  <a class="nav-link" [routerLink]="['/profile']">Profil</a>
              </li>
              <li class="nav-item" [routerLinkActive]="['link-active']">
                  <a class="nav-link" [routerLink]="['/add-battle']"><b>Zapisz bitwę!</b></a>
              </li>
          </ul>
      </div>
    </div>
  </nav>
</header>
