<header class="nav-menu">
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm mb-3" >
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']"><img class="rebelkeeper-logo" src="/assets/rebelkeeper1.jpg" style="width:150px"/></a>
      
      <div class="" *ngIf="isUserAuth">
          <ul class="main-nav">
              
              <li class="" [routerLinkActive]="['link-active']">
                  <a class="" [routerLink]="['/ranking']">Ranking</a>
              </li>
              <li class="" [routerLinkActive]="['link-active']">
                  <a class="" [routerLink]="['/tournament']">Turnieje</a>
              </li>
              <li class="dropdown" [routerLinkActive]="['link-active']">
                  Profil
                   <ul class="">
                      <li class="" [routerLinkActive]="['link-active']">
                          <a class="" [routerLink]="['/my-battles']">Moje Bitwy</a>
                      </li>
                      <li class="" (click)="Logout()">
                          Wyloguj
                      </li>
                  </ul>
              </li>
              <li class="dropdown" [routerLinkActive]="['link-active']">
                  <b>Zapisz wynik!</b>
                  <ul>
                      <li class="" [routerLinkActive]="['link-active']">
                          <a class="" [routerLink]="['/add-warmachine']">Warmachine</a>
                      </li>
                      <li class="" [routerLinkActive]="['link-active']">
                          <a class="" [routerLink]="['/add-infinity']">Infinity</a>
                      </li>
                  </ul>
              </li>
          </ul>
      </div>
    </div>
  </nav>
</header>
