<h1>Zapisz nową bitwę!</h1>

<p>This is a simple example of an Angular component.</p>

<div class="addBattleWrapper">
    <div class="gameSystemWrapper">
        <div class="warmachine gameSystemContent">
            <a [routerLink]="['/add-battle/warmachine-and-hordes']">Warmachine and Hordes</a>
        </div>
    </div>
    <div class="gameSystemWrapper">
        <div class="infinity gameSystemContent">
            <a [routerLink]="['/add-battle/infinity']">Infinity</a>
        </div>
    </div>
</div>

